<!DOCTYPE html>
<html>
  <head>
    <title>Justo - Medicion de Derechos Humanos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="header">
      <div class="bg-color">
        <header class="main-header">
          <%= render "partials/nav-bar-home" %>
        </header>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12 wow fadeIn delay-05s">
                <div class="banner-text">
                  <h1 style="strong"><span>Justo</span>.</h1>
                  <h4>Software para la medición de Derechos Humanos</h4>
                  <p></p>
                </div>
                <div class="overlay-detail text-center">
                  <a href="#about"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="about" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-right">
            <h2 class="title-text">
              Conocé a <br><span class="deco">Justo</span>
            </h2>
          </div>
          <div class="col-md-6 text-left">
            <div class="about-text">
              <p>Es una herramienta que permite traducir los estándares internacionales de derechos humanos en expresiones numéricas que posibilitan evaluar su grado de cumplimiento.</p>
              <p>&nbsp;</p>
              <p>Permite la conformación de una base de datos desagregados como lo establecen las normas internacionales.</p>
              <p>&nbsp;</p>
              <p>Brinda datos imprescindibles a los poderes estatales para el diseño y monitoreo de políticas públicas.</p>
              <p>&nbsp;</p>
              <p>Posibilita a la sociedad civil el control y visibilización de los avances y retrocesos en el cumplimiento de los derechos.</p>
              <p>&nbsp;</p>
              <%# <ul class="abt-list">
                <li>- idea puntual 1.</li>
                <li>- Idea puntual 2.</li>
                <li>- Idea puntual 3.</li>
              </ul> %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">Esta <span class="deco">Herramienta Informática Juridica</span> </h2>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Permite el registro y análisis de <strong>Indicadores Estructurales</strong>:  buscan medir qué medidas dispone el Estado para implementar los derechos. Relevan información para evaluar cómo se organiza el aparato institucional y el sistema legal del Estado para cumplir las obligaciones internacionales.</p>
            </blockquote>
            <%# <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 1</span> <span class="testimonials-post">comentario</span> </div>
            </div> %>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Permite el registro y análisis de <strong>Indicadores de Proceso</strong>: buscan medir la calidad y magnitud de los esfuerzos del Estado para implementar los derechos, a través de la medición del alcance, la cobertura y el contenido de las estrategias, planes, programas, o políticas u otras actividades e intervenciones específicas encaminadas al logro de la materialización de los derechos.</p>
            </blockquote>
            <%# <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 2</span> <span class="testimonials-post">comentario</span> </div>
            </div> %>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Permite el registro y análisis de los <strong>Indicadores de Resultado</strong>: buscan medir el impacto real de las estrategias, programas o intervenciones del Estado. Captan los logros individuales y colectivos que reflejan el estado de disfrute de los derechos humanos en determinado contexto.</p>
            </blockquote>
            <%# <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 3</span> <span class="testimonials-post">comentario</span> </div>
            </div> %>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="footer-2 text-center-xs bg--white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer">
              © Copyright Justo. 
              <div class="credits">
                Designed by <a href="">Justo Team</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <ul class="social-list">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
