<!DOCTYPE html>
<html>
  <head>
    <title>JusticeAccess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="header">
      <div class="bg-color">
        <header class="main-header">
          <%= render "partials/nav-bar-home" %>
        </header>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12 wow fadeIn delay-05s">
                <div class="banner-text">
                  <h1 style="strong"><span>Justo</span>.</h1>
                  <h4>Software para la medición de Derechos Humanos</h4>
                  <p></p>
                </div>
                <div class="overlay-detail text-center">
                  <a href="#about"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="about" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-right">
            <h2 class="title-text">
              Conocé a <br><span class="deco">Justo</span>
            </h2>
          </div>
          <div class="col-md-6 text-left">
            <div class="about-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>&nbsp;</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>&nbsp;</p>
              <ul class="abt-list">
                <li>- idea puntual 1.</li>
                <li>- Idea puntual 2.</li>
                <li>- Idea puntual 3.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">Esto es lo que <span class="deco">Queremos</span> acerca de los derechos humanos</h2>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 1</span> <span class="testimonials-post">comentario</span> </div>
            </div>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 2</span> <span class="testimonials-post">comentario</span> </div>
            </div>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">Derecho 3</span> <span class="testimonials-post">comentario</span> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="footer-2 text-center-xs bg--white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer">
              © Copyright Justo. 
              <div class="credits">
                Designed by <a href="">Justo Team</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <ul class="social-list">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
