<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Conflict</th>
      <th>Complainant</th>
      <th>Institution</th>
      <th>Court</th>
      <th>Cost free attorney</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.conflict %></td>
        <td><%= complaint.complainant %></td>
        <td><%= complaint.instittution %></td>
        <td><%= complaint.court %></td>
        <td><%= complaint.cost_free_attorney %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
