<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="" class="simple-text logo-normal">
      Acceso a la Justicia
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= active_class(root_path) %>">
        <%= link_to root_path, class:"nav-link" do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_class(instittutions_path) %>">
        <%= link_to instittutions_path, class: "nav-link" do %>
          <i class="material-icons">location_city</i>
          <p>Instituciones</p>
        <% end %>
      </li>  
      <li class="nav-item <%= active_class(complainants_path) %> ">  
        <%= link_to complainants_path, class: "nav-link" do %>
          <i class="material-icons">person</i>
          <p>Denunciantes</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">bubble_chart</i>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
    </ul>
  </div>
</div>