<div class="sidebar" data-color="azure" data-background-color="black" data-image="<%= image_path('access-to-justice1.jpeg') %>">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="" class="simple-text logo-normal">
      JUSTO
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= active_class(root_path) %>">
        <%= link_to root_path, class:"nav-link" do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_class(instittutions_path) %>">
        <%= link_to instittutions_path, class: "nav-link" do %>
          <i class="material-icons">location_city</i>
          <p>Instituciones</p>
        <% end %>
      </li>  
      <li class="nav-item <%= active_class(complainants_path) %> ">  
        <%= link_to complainants_path, class: "nav-link" do %>
          <i class="material-icons">person</i>
          <p>Denunciantes</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_class(complaints_path) %>" >
        <%= link_to complaints_path, class: "nav-link" do %>
          <i class="material-icons">gavel</i>
          <p>Denuncias</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_class(courts_path) %> ">
        <%= link_to courts_path, class: "nav-link" do %>
          <i class="material-icons">account_balance</i>
          <p>Juzgados</p>
        <% end %>
      </li>
      
    </ul>
  </div>
</div>