<%= form_with(model: complainant, local: true) do |form| %>
  <% if complainant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complainant.errors.count, "error") %> prohibited this complainant from being saved:</h2>

      <ul>
      <% complainant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all, :id, :country_name, include_blank: true, class:"" %>
  </div>

  <div class="field">
    <%= form.label :gender_id %>
    <%= form.text_field :gender_id %>
  </div>

  <div class="field">
    <%= form.label :disability_id %>
    <%= form.text_field :disability_id %>
  </div>

  <%# <div class="field">
    <%= form.label :migrant %>
  <%#  <%= form.check_box :migrant %>
  <%#</div> %>

  <div class="row">
    <div class="col">
      <%= form.fields_for :migrant do |migrant_form| %>
        <div class="field">
          <div class="col-md-6">
            <div class="form-group ">
              <%= migrant_form.label "Pais", class:"bmd-label-floating" %>
              <%= migrant_form.collection_select :country_id, Country.all, :id, :country_name, include_blank: true, class:""%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= migrant_form.label "Provincia", class: "bmd-label-floating" %>
              <%= migrant_form.collection_select :city_id, City.argentina, :id, :city_name, include_blank: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>

  <div class="field">
    <%= form.label :native_id %>
    <%= form.text_field :native_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
