<%= form_with(model: complainant, local: true) do |form| %>
  <% if complainant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complainant.errors.count, "error") %> prohibited this complainant from being saved:</h2>

      <ul>
      <% complainant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.text_field :country_id %>
  </div>

  <div class="field">
    <%= form.label :gender_id %>
    <%= form.text_field :gender_id %>
  </div>

  <div class="field">
    <%= form.label :disability_id %>
    <%= form.text_field :disability_id %>
  </div>

  <div class="field">
    <%= form.label :migrant %>
    <%= form.check_box :migrant %>
  </div>

  <div class="field">
    <%= form.label :native %>
    <%= form.text_field :native %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
