<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title-mt-0">
          Denunciantes
        </h4>
        <p class="card-category">Listado de Denunciantes</p>
      </div>
      <div class="card-body">
        <div class="tabel-responsive">
          <table class="table table-hover">
            <thead>
              <th>Nombre y Apellido</th>
              <th>Fecha de Nac</th>
              <th>Dirección</th>
              <th>Nacionalidad</th>
              <th>Género</th>
              <th>Discapacidad</th>
              <th>Condicion Social</th>
              <th>Migrante?</th>
              <th>Pueblo Originario</th>
              <th colspan="3#"></th>
            </thead>
            <tbody>
              <% @complainants.each do |complainant| %>
                <tr>
                  <td><%= complainant.full_name %></td>
                  <td><%= complainant.birthdate %></td>
                  <td><%= complainant.address %></td>
                  <td><%= complainant.country.country_name %></td>
                  <td><%= complainant.gender.name %></td>
                  <td><%= complainant.disability ? complainant.disability.name : "" %></td>
                  <td><%= complainant.social_status %></td>
                  <td><%= complainant.migrant ? complainant.migrant.city.city_name : "" %></td>
                  <td><%= complainant.native ? complainant.native.name : "" %></td>
                  <td><%= link_to 'Show', complainant %></td>
                  <td><%= link_to 'Edit', edit_complainant_path(complainant) %></td>
                  <td><%= link_to 'Destroy', complainant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Nuevo Denunciante', new_complainant_path, class: "btn btn-outline btn-primary" %>
