<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attorney.name %>
</p>

<p>
  <strong>Apellido</strong>
  <%= @attorney.last_name %>
</p>

<p>
  <strong>Licence:</strong>
  <%= @attorney.licence %>
</p>

<%= link_to 'Edit', edit_attorney_path(@attorney) %> |
<%= link_to 'Back', attorneys_path %>
