<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Log In</h4>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="form-group">
                <%= f.label :email, class: "bmd-label-floating" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="form-group">
                <%= f.label :password, class: "bmd-label-floating" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end -%>
            </div>
          </div>
        
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="form-group">
                <%= f.submit "Log in", class:"btn btn-primary float-rigth" %>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
