<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @law.name %>
</p>

<p>
  <strong>Law category:</strong>
  <%= @law.law_category %>
</p>

<%= link_to 'Edit', edit_law_path(@law) %> |
<%= link_to 'Back', laws_path %>
