<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conflict.name %>
</p>

<p>
  <strong>Law:</strong>
  <%= @conflict.law.name %>
</p>

<%= link_to 'Edit', edit_conflict_path(@conflict) %> |
<%= link_to 'Back', conflicts_path %>
